services:

  db:
    image: postgres
    restart: always
    environment:
      POSTGRES_USER: admin
      POSTGRES_PASSWORD: password
      POSTGRES_DB: local
    ports:
      - 5432:5432
    volumes:
      - local_pgdata:/var/lib/postgresql
    networks:
      - db
  pgadmin:
   image: dpage/pgadmin4
   container_name: pgadmin4_container
   restart: always
   ports:
      - "8888:80"
   environment:
      PGADMIN_DEFAULT_EMAIL: admin@local.com
      
      PGADMIN_DEFAULT_PASSWORD: password
   volumes:
      - pgadmin-data:/var/lib/pgadmin
   networks:
      - db

volumes:
  local_pgdata:
  pgadmin-data:

networks:
  db:
